<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <add  name="defaultConnection" connectionString="Data Source=(localDb)\MSSQLLocalDB; Initial Catelog=ShoppingCartDB; Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AdminLoginID" value="admin"/>
    <add key="AdminPassword" value="123"/>
  </appSettings>

</configuration>
